<a href="https://colab.research.google.com/github/EJL157/BTE320/blob/main/320_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi = 3.14
r = 5
Area = pi * r ** 2
print("Area is", Area, "square feet.", sep="",end="")
#Can include "end = ' '" to change what happens between lines, change from new line to same line with a space, new line would be '\n'
print("Area is %.1f square feet" % Area,end="\n\n")
#dynamic return of the Area variable
print("Area is {} square feet".format(Area))
#dynamic return of the Area variable with .format(Area), which pulls Area value into place of {}
print(f"Area is {Area} square feet")

Area is78.5square feet.Area is 78.5 square feet

Area is 78.5 square feet
Area is 78.5 square feet

In [ ]:
h = 10
r = 3
pi = 3.14
'''
First line
Second line
Third line
'''
S = 2*pi*r**2 + 2*pi*r*h
print(S)
#Sets height, radius, and pi values, then calculates and prints surface area

244.92000000000002

'\nFirst line\nSecond line\nThird line\n'

In [ ]:
pi = 3.14
r = float(input("Provide a value for the radius (in ft): "))
c = float(input("Provide a value for side (in ft): "))
h = float(input("Provide a value for height (in ft): "))
#Input by defualt returns a string, add float to fix
shape = 'triangle'
if shape == 'circle':
  Area = pi * r ** 2
  print(f"Area is {Area} square feet")
elif shape == 'square':
  Area = c ** 2
  print(f"Area is {Area} square feet")
elif shape == 'triangle':
  Area = .5 * c * h
  print(f'Area is {Area} square feet')
else:
  print("Invalid shape")
print('Program ends.')

Provide a value for the radius (in ft): 8
Provide a value for side (in ft): 4
Provide a value for height (in ft): 4
Area is 8.0 square feet
Program ends.

In [ ]:
grade = 90
if grade > 96:
  print("A+")
elif grade >= 93:
  Print("A")
elif grade >= 90:
  print("A-")
else:
  print ("No A earned")

A-

In [ ]:
amount = float(input('Give initial amount ($): '))
n_years = float(input('Give number of years of investment: '))
customer_type = input("Type of customer (n->new, e->existing): ")

if amount > 10000 and customer_type == 'e':
  rate = 0.035
elif amount > 1000 and customer_type == 'e':
  rate = 0.0325
elif customer_type = 'e':
  rate = 0.03
else:
  rate = 0.04
return_amount = (1 + rate) ** n_years * amount
print(f"Return amount is ${return_amount}.")

Give initial amount ($): 1000
Give number of years of investment: 5
Return amount is $1159.2740743000002.

In [ ]:
import random
Game = input("Do you want to play a game? ").capitalize()
while(Game == 'Yes'):
  Person1 = input("Person 1 - Rock, Paper, or Scissors: ").capitalize()
  Person2 = random.choice(['Rock', 'Paper', 'Scissors'])
  if(Person1 == Person2):
    print("Draw")
  elif ((Person1 == 'Rock' and Person2 == 'Scissors')
        or (Person1 == 'Scissors' and Person2 == 'Paper')
        or (Person1 == 'Paper' and Person2 == 'Rock')):
    print("Person 1 wins")
  else:
    print("Person 2 wins")
  Game = input("Do you want to play a game? ").capitalize()

In [ ]:
num1 = float(input("What is your first number: "))
num2 = float(input("What is your second number: "))
operation = input("What symbol would you like: ")
if operation == '+':
  print(num1 + num2)
elif operation == '-':
  print(num1-num2)
elif operation == '*':
  print(num1*num2)
elif operation == '/':
  print(num1/num2)
elif operation == '**':
  print(num1**num2)
else:
  print("Invalid operation.")

What is your first number: 10
What is your second number: 5
What symbol would you like: **
100000.0

In [ ]:
Charge = 5.0
Rate = 2.50
MinCharge = 10.0
MaxCharge = 20.0
Amount = 0
for hour in range(1, 9, 1):
  Amount = min(max(Charge + Rate*hour,MinCharge),MaxCharge)
  print(f'{i} {Amount}')

8 10.0
8 10.0
8 12.5
8 15.0
8 17.5
8 20.0
8 20.0
8 20.0

In [ ]:
Ticket = 10
BasePeople = 20
Fixed = 200
print('Ad$',end=' ')
print('profit')
for AdSpend in range(0, 201, 25):
  profit = Ticket*BasePeople + Ticket*(2*round(AdSpend**0.5)) - Fixed - AdSpend
  print(f'{AdSpend} {profit}')

Ad$ profit
0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
Ticket = 10
BasePeople = 20
Fixed = 200
OptimalSpend = 0
MaxProfit = 0
print('Ad$',end=' ')
print('profit')
for AdSpend in range(0, 201, 25):
  profit = Ticket*BasePeople + Ticket*(2*round(AdSpend**0.5)) - Fixed - AdSpend
  print(f'{AdSpend} {profit}')
  if profit > MaxProfit:
    MaxProfit = profit
    OptimalSpend = AdSpend
print(f'Optimal Spend is ${OptimalSpend}')
print(f'Max profit is ${MaxProfit}')

Ad$ profit
0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80
Optimal Spend is $75
Max profit is $105

In [ ]:
months = {}

names = ["Jan", "Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

print(months)
for key, value in months.items():
  print(key, value)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}
1 Jan
2 Feb
3 Mar
4 Apr
5 May
6 Jun
7 Jul
8 Aug
9 Sep
10 Oct
11 Nov
12 Dec

In [ ]:
def displayFee(fee):
  print(fee)

def calcFee(hours, decimals=2):
  fee = round(5 + hours * 2.5, decimals)
  return fee

def main():
  hours_parked = int(input("Enter hours for parking: "))
  f = calcFee(hours_parked)
  x = displayFee(f)

if __name__ == "__main__":
  main()

Enter hours for parking: 4
15.0

In [ ]:
def rev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + rev(s[:-1])
s = 'World'
rev(s)

'dlroW'

In [23]:
#Weighted average
def wAvg(L, W):
  res = []
  try:
    for i in range(0,len(L)):
      res.append(L[i]*W[i])
    return sum(res) / sum(W)
  except ZeroDivisionError:
    print("Division by zero")
    return []
  except TypeError:
    print("Non-numerical object found")
    return []
  except Exception as e:
    print(f"Unkown error {e}")
wAvg([1,2,3],[])

Division by zero

[]

In [2]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def __str__(self):
    return f'Name: {self.name}'

In [4]:
S1 = Student('James Bond', '007')
S2 = Student('Clark Kent', '333')

In [5]:
print(S1)
print(S2)

Name: James Bond
Name: Clark Kent