<a href="https://colab.research.google.com/github/EJL157/BTE320/blob/main/320_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
pi = 3.14
r = float(input("Provide a value for the radius (in ft): "))
c = float(input("Provide a value for side (in ft): "))
h = float(input("Provide a value for height (in ft): "))
#Input by defualt returns a string, add float to fix
shape = input('Please provide your shape: ')
if shape == 'circle':
  Area = pi * r ** 2
  print(f"Area is {Area} square feet")
elif shape == 'square':
  Area = c ** 2
  print(f"Area is {Area} square feet")
elif shape == 'triangle':
  Area = .5 * c * h
  print(f'Area is {Area} square feet')
else:
  print("Invalid shape")

Provide a value for the radius (in ft): 4
Provide a value for side (in ft): 2
Provide a value for height (in ft): 3
Please provide your shape: triangle
Area is 3.0 square feet

In [9]:
import random
Game = input("Do you want to play a game? ").capitalize()
while(Game == 'Yes'):
  Person1 = input("Person 1 - Rock, Paper, or Scissors: ").capitalize()
  Person2 = random.choice(['Rock', 'Paper', 'Scissors'])
  if(Person1 == Person2):
    print("Draw")
  elif ((Person1 == 'Rock' and Person2 == 'Scissors')
        or (Person1 == 'Scissors' and Person2 == 'Paper')
        or (Person1 == 'Paper' and Person2 == 'Rock')):
    print("Person 1 wins")
  else:
    print("Person 2 wins")
  Game = input("Do you want to play a game? ").capitalize()

Do you want to play a game? Yes
Person 1 - Rock, Paper, or Scissors: Scissors
Person 2 wins
Do you want to play a game? No

In [ ]:
num1 = float(input("What is your first number: "))
num2 = float(input("What is your second number: "))
operation = input("What symbol would you like: ")
if operation == '+':
  print(num1 + num2)
elif operation == '-':
  print(num1-num2)
elif operation == '*':
  print(num1*num2)
elif operation == '/':
  print(num1/num2)
elif operation == '**':
  print(num1**num2)
else:
  print("Invalid operation.")

What is your first number: 10
What is your second number: 5
What symbol would you like: **
100000.0

In [6]:
Charge = 5.0
Rate = 2.50
MinCharge = 10.0
MaxCharge = 20.0
Amount = 0
for hour in range(1, 9, 1):
  Amount = min(max(Charge + Rate*hour,MinCharge),MaxCharge)
  print(f'{hour} {Amount}')

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
Ticket = 10
BasePeople = 20
Fixed = 200
OptimalSpend = 0
MaxProfit = 0
print('Ad$',end=' ')
print('profit')
for AdSpend in range(0, 201, 25):
  profit = Ticket*BasePeople + Ticket*(2*round(AdSpend**0.5)) - Fixed - AdSpend
  print(f'{AdSpend} {profit}')
  if profit > MaxProfit:
    MaxProfit = profit
    OptimalSpend = AdSpend
print(f'Optimal Spend is ${OptimalSpend}')
print(f'Max profit is ${MaxProfit}')

Ad$ profit
0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80
Optimal Spend is $75
Max profit is $105

In [ ]:
months = {}

names = ["Jan", "Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

print(months)
for key, value in months.items():
  print(key, value)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}
1 Jan
2 Feb
3 Mar
4 Apr
5 May
6 Jun
7 Jul
8 Aug
9 Sep
10 Oct
11 Nov
12 Dec

In [ ]:
def displayFee(fee):
  print(fee)

def calcFee(hours, decimals=2):
  fee = round(5 + hours * 2.5, decimals)
  return fee

def main():
  hours_parked = int(input("Enter hours for parking: "))
  f = calcFee(hours_parked)
  x = displayFee(f)

if __name__ == "__main__":
  main()

Enter hours for parking: 4
15.0

In [ ]:
def rev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + rev(s[:-1])
s = 'World'
rev(s)

'dlroW'

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def __str__(self):
    return f'Name: {self.name}'

In [ ]:
S1 = Student('James Bond', '007')
S2 = Student('Clark Kent', '333')

In [ ]:
print(S1)
print(S2)

Name: James Bond
Name: Clark Kent